.rankingBoardMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #fafafa;
}

.scoreCardBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.scoreCardList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.scoreCard0 {
    display: flex;
    flex: 1;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fafafa;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCard1 {
    display: flex;
    flex: 1;
    border: 1px solid #f0d7ac;
    border-radius: 8px;
    background-color: #fff6e6;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCard2 {
    display: flex;
    flex: 1;
    border: 1px solid #aaf388;
    border-radius: 8px;
    background-color: #e4f8db;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCard3 {
    display: flex;
    flex: 1;
    border: 1px solid #8ce6f6;
    border-radius: 8px;
    background-color: #d7f5fa;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCard4 {
    display: flex;
    flex: 1;
    border: 1px solid #f898f8;
    border-radius: 8px;
    background-color: #fee3fe;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCard5 {
    display: flex;
    flex: 1;
    border: 1px solid #ffc78f;
    border-radius: 8px;
    background-color: #fee3fe;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCard6 {
    display: flex;
    flex: 1;
    border: 1px solid #98ffdb;
    border-radius: 8px;
    background-color: #fee3fe;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.scoreCardTitle {
    display: flex;
    font-size: 20px;
    padding: 3px;
}

.memberCardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.memberCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3px;
    width: 100%;
}

.infoTitle {
    display: flex;
}

.info {
    display: flex;
    font-size: 11px;
    font-weight: 800;
}

.scoreSpan {
    display: flex;
    font-size: 8px;
}

.scoreSpan2 {
    display: flex;
    justify-content: end;
    margin-left: 8px;
    font-size: 14px;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    min-width: 70px;
    height: 100%;
    background-color: #fafafa;
    border: 1px solid black;
}

.scoreTop {
    display: flex;
    justify-content: space-between;
}

.scoreTitle {
    display: flex;
    flex-direction: column;
}

.scoreInfo {
    display: flex;
    justify-content: space-between;
}

.modalContainer {
    position: absolute;
    right: 7%;
    bottom: 10%;
}

.modalBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(109, 141, 230);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(174, 193, 247);
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal > span {
    margin-top: 3px;
}

.redText {
    color: red;
}

.scoreWith {
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: 3px;
    font-size: 15px;
}

.title {
    font-size: 9px;
    font-weight: 600;
}
