.mainBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contentsBox {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #fafafa;
}

.leftSide, .rightSide {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 5px;
    text-align: center;
    flex-direction: column;
}

.leftSide {
    border-right: 1px solid #686363;
    justify-content: flex-start;
    overflow-y: scroll;
}

.rightSide {
    justify-content: flex-start;
}

.userBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.noBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 18px;
}

.nameCardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 7px;
    background-color: #fafafa;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 35px;
}

.checkIcon {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.description {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingBoxTitle {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #fafafa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.userSettingBox {
    background-color: #fafafa;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin-bottom: 5px;
}

.userSettingBox:nth-last-child(1) {
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
}

.settingBox {
    display: flex;
    margin-bottom: 4px;
}

.sideJoinBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sideJoinBtn {
    background-color: #004EA2;
    border-radius: 7px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
}

.sideJoinedBtn {
    background-color: #fafafa;
    border: 1px solid #004EA2;
    color: #004EA2;
}

.checkBox {
    display: flex;
    border-radius: 7px;
    background-color: #004EA2;
    width: 100%;
    min-height: 30px;
    font-size: 12px;
    color: white;
    margin-right: 7px;
    align-items: center;
    justify-content: center;
}

.btnBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%
}

.settingBtn {
    background-color: #004EA2;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 60px;
    color: white;
}

.settingBtn:nth-child(1) {
    margin-right: 4px;
}

.settingBtn2 {
    background-color: #004EA2;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    color: white;
}

.waitingUser {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px;
}

.waitingUserInfoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-left: 15px;
    background-color: rgb(247, 246, 241);
    padding: 3px;
}

.waitingUserDesBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.waitingSpan {
    font-size: 10px;
}

.profileContainer {
    position: relative;
    display: inline-block;
}


.memberProfile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.staffImg {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.memberBox {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.userInfo {
    margin-left: 10px;
}

.gameSettingBox {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.gameSettingBox :nth-child(2) {
    margin-left: 3px;
}

.modalArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}