.container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.header {
    position: sticky;
    top: 0px;
    background-color: white;
}

.bottom {
    position: sticky;
    bottom: 0px;
    background-color: #fafafa;
}