.container {
    width: 100%;
    overflow-y: scroll;
}

.divSection {
    width: 100%;
    height: 5px;
    background-color: #dbdbdb;
}

.top {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 100;
}

.subTitle {
    display: flex;
    width: 100%;
    padding: 3px;
}

.clubTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    padding: 5px;
}

.clubNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.clubNavBtns {
    width: 100%;
    height: 50px;
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
}

.selectedClubNavBtn {
    border-bottom: 3px solid black;
}

.btnSpan {
    font-size: 16px;
}

.bottom {
    position: sticky;
    bottom: 0px;
    background-color: #fafafa;
}

.topCategory {
    font-size: 20px;
}

.clubNameTitle {
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contextArea {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
}

.commonDiv {
    margin-top: 10px;
}

.title {
    margin-top: 5px;
    margin-left: 7px;
}

.clubBannerArea {
    display: flex;
    width: 100%;
    height: 160px;
    border-radius: 10px;
    padding: 0px 0px 10px 0px;
}

.bannerImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.clubDescription {
    padding: 10px 10px 30px 10px;
}

.clubSchedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.scheduleBox {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #cac9c9;
    width: 100%;
    padding: 10px 18px 10px 18px;
    margin-bottom: 15px;
}

.memberProfileContainer {
    position: relative;
    display: flex;
}

.memberProfileImg {
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 5px;
}

.scheduleTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scheduleJoinBtn {
    margin-left: 20px;
    width: 70px;
    height: 40px;
    border: none;
    background-color: #004EA2;
    border-radius: 10px;
    color: white;
}

.scheduleCancleBtn {
    margin-left: 20px;
    width: 70px;
    height: 40px;
    border: 1px solid #004EA2;
    background-color: #fafafa;
    border-radius: 10px;
    color: #004EA2;
    font-weight: 800;
}

.scheduleContnet {
    display: flex;
    justify-content: space-between;
}

.imgBox {
    display: flex;
    flex: 0.5;
}

.scheduleImg {
    width: 100%;
    height: 100%;
}

.scheduleDescriptionArea {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    margin-left: 8px;
}

.scheduleDescriptionBox {
    display: flex;
    align-items: center;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #5794d5;
    color: white;
    margin-top: 10px;
}

.descriptionSubTitle {
    display: flex;
    margin-right: 5px;
}

.descriptionSubContent {
    display: flex;
    font-weight: 500;
    color: black;
}

.clubRecentGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.recentGameBox {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #cac9c9;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.recentGameCeremony {
    display: flex;
    padding: 2px 5px 2px 5px;
}

.recentGameDescriptionBox {
    display: flex;
    align-items: center;
}

.recentGameSubTitle {
    margin-right: 5px;
}

.recentGameSubContent {
    font-weight: 500;
    color: black;
    margin: 0;
    margin-right: 10px;
}

.recentGameTeamCeremony {
    display: flex;
    flex-direction: column;
    padding: 2px 5px 2px 5px;
}

.noClubContainer {
    display: flex;
    justify-content: center;
}

.noClubTitle {
    width: 100%;
}

.memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.memberBox {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow-x: scroll;
}

.memberProfile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.memberImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.staffImg {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 0;
    bottom: 0;
}

.addGameModal {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.addGameModalContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40%;
    background-color: #fafafa;
    border: 1px solid black;
    overflow-y: scroll;
}

.titleBox {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
}

.backBtn {
    display: flex;
    margin-right: 15px;
}

.gameInfoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.gameInfoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.infoInput {
    height: 30px;
    border: none;
    background-color: #dbdbdb;
    border-radius: 10px;
    padding: 10px;
}

.gameTypeBtnBox {
    display: flex;
    justify-content: space-between;
}

.gameTypeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #fafafa;
    border: 1px solid #004EA2;
    color: #004EA2;
    font-weight: 600;
}

.selectedBtn {
    background-color: #004EA2;
    color: white;
}

.gameTypeBtn:nth-child(1) {
    margin-right: 10px;
}

.gameTitleBox {
    display: flex;
    width: 20%;
}

.title {
    width: 100%;
}

.addGameBtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addGameBtn {
    display: flex;
    width: 80%;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #004EA2;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.modalContainer {
    display: flex;
    position: fixed;
    bottom: 10%;
    right: 3%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #004EA2;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}

.modalTitle {
    margin-top: 3px;
    font-weight: 600;
}

.clubCeremonyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
}

.filterBox {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: #dfdfdf;
    height: 90px;
}

.filterNavBox {
    display: flex;
    flex-direction: column;
}

.filterNav {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.filterTitle {
    display: flex;
    white-space: nowrap;
}

.filterBtns {
    display: flex;
    margin-left: 10px;
    width: 100%;
    overflow-x: scroll;
}

.filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #004EA2;
    background-color: #fafafa;
    color: #004EA2;
    margin-right: 5px;
    white-space: nowrap;
}

.ceremonyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.ceremonyBox {
    display: flex;
    background-color: #fafafa;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    border: 2px solid #004EA2;
}

.selectedCeremony {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.simpleInformation {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.simpleGameInfo {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}

.simpleGameInfoTitle {
    display: flex;
    margin-right: 10px;
}

.simpleInformationBox {
    display: flex;
}

.simpleCeremony {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.simpleCeremonyTitle {
    font-size: 13px;
    margin-right: 5px;
}

.simpleCeremonyInfoBox {
    display: flex;
    white-space: nowrap;
    background-color: #ebebeb;
}

.simpleCeremonyInfo {
    display: flex;
}

.moreInfo {
    display: flex;
    font-size: 30px;
}

.ceremonyInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid #004EA2;
    border-right: 2px solid #004EA2;
    border-bottom: 2px solid #004EA2;
}

.ceremonyInfoBtnBox {
    display: flex;
    width: 100%;
    border-radius: 10px;
}

.ceremonyContext {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 5px;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoBtn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fafafa;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.infoBtnSelectedBtn {
    background-color: #004EA2;
    border: none;
    border-bottom: 2px solid rgb(197, 89, 89);
    color: #fafafa;
    font-weight: 600;
}

.teamScoreTable {
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}

.teamScoreHeaderTr {
    border: none;
    color: #6e6e6e;
}

.teamScoreBodyTr {
    border: none;
}

.teamScoreTh, .teamScoreTd {
    height: 20px;
    width: 40px;
    border: none;
}

.teamScoreTh {
    background-color: #e3e3e3;
}

.teamScoreBodyTr {
    background-color: #444444;
    border-bottom: 1px solid #a8a8a8;
}

.teamScoreBodyTr:nth-last-child(1) {
    border: none;
}

.gameScoreBackground {
    background-color: #a8a8a88f;
}

.nodataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nodataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nodataImg {
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.gradesAvg {
    display: flex;
    justify-content: center;
    width: 50%;
}

.gradeGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1px;
}

.gradeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradeBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 3px;
}

.memberAvgBox {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.avgInput {
    display: flex;
    width: 35px;
    height: 35px;
    border: none;
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.avgSelect {
    display: flex;
    width: 55px;
    height: 35px;
    border: none;
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-left: 3px;
}

.avgSaveBtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.avgSaveBtn {
    display: flex;
    width: 80%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: #004EA2;
    color: #fafafa;
    font-weight: 600;
    font-size: 14px;
}

.clubJoinBtn {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #004EA2;
    color: #fafafa;
    font-weight: 600;
    margin-left: 10%;
}

.clubDescription p {
    font-size: 13px;
    font-weight: 400;
}

.memberSettingContainer {
    width: 100%;
    height: 100%;
}

.memberSettingArea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.memberSettingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
    margin-top: 5px;
}

.settingMemberProfileBox {
    display: flex;
    align-items: center;
}

.settingBoxMemberProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
}

.settingRoleContainer {
    z-index: 10;
}

.roleSelect {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 100px;  /* 원하는 너비로 조정 */
}

.clubRankingContainer {
    display: flex;
    flex-direction: column;
}

.searchBox {
    display: flex;
    width: 70%;
    margin-left: 10px;
    align-items: center;
}

.searchBox p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: #004EA2;
}

.dateInput {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #004EA2;
    background-color: #fafafa;
    color: #004EA2;
    white-space: nowrap;
}

.rankMemberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.rankHeaderTr {
    height: 30px;
}

.rankBodyTr {
    height: 60px;
}

.rankScoreTh {
    font-size: 10px;
    height: 20px;
    width: 40px;
    border: none;
}

.rankScoreTd {
    font-size: 12px;
    height: 20px;
    width: 40px;
    border: none;
}

.rankScoreTd:nth-child(2) {
    background-color: #b8b8b8;
}

.memberMore {
    width: 100%;
    height: 150px;
    background-color: #dbdbdb;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}